.board {
  text-align: center;
  margin-top: 100px;
}

.cell {
  background-color: #1990ff;
  margin-right: 5px;
  outline: 1px solid #1990ff;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.circle {
  height: 85px;
  width: 85px;
  margin: 7.5px 0px 0px 6.5px;
  border-radius: 100px;
  background-color: white;
}

.header {
  background-color: red;
  width: 1198px;
  height: 94px;
}